body{
    background-color: black;
}

#landing-header{
    z-index:1;
    position:relative;
    text-align:center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: skyblue;
}

#landing-header p {
    color: skyblue;
    font-size: 25px;
}
#landing-header hr{
    width:40%;
}

.slideshow{
    position:fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1){
    background-image: url(https://scontent.fyvr1-1.fna.fbcdn.net/v/t31.0-8/20543696_560910880918531_7460451173644278261_o.jpg?oh=83dc5e6d5895000334fe86547babcb55&oe=5AF34D77)
}
.slideshow li:nth-child(2){
     background-image: url(https://scontent.fyvr1-1.fna.fbcdn.net/v/t31.0-8/22552908_10155777280612418_323555824264335562_o.jpg?oh=3abb2375da0ca1a4e663fe434ea14c42&oe=5AB6B9C2);
     animation-delay: 10s;
}
.slideshow li:nth-child(3){
    background-image: url(https://scontent-sea1-1.xx.fbcdn.net/v/t31.0-8/21167487_10155635012807418_1186701280094124807_o.jpg?oh=80622f999ed86ec6e9a33eda08750d21&oe=5A5A8797);
    animation-delay: 20s;
}
.slideshow li:nth-child(4){
     background-image:url(https://scontent-sea1-1.xx.fbcdn.net/v/t31.0-8/21122679_573805966295689_6381027263461905778_o.jpg?oh=d358066a5c68664112209e6acdc519c1&oe=5A528256);
     animation-delay: 30s;
}
.slideshow li:nth-child(5){
     background-image:url(https://scontent.fyvr1-1.fna.fbcdn.net/v/t31.0-8/21414828_10155652435872418_649646742715491069_o.jpg?oh=22a665e4e3a64567ff71ed82c8454971&oe=5AF2F01E);
     animation-delay: 40s;
}
@keyframes imageAnimation{
    0%{
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10%{
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
}