body{
    background-color: black;
    border:6px solid black;
}
.imgContainer{
    background: url("https://scontent.fyka1-1.fna.fbcdn.net/v/t1.0-9/41316536_793556534320630_7299592576510722048_o.jpg?_nc_cat=0&oh=b8abd6804454c449a02fec17d99657de&oe=5C2BAE24");
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 500px;
    text-align: center;
    margin-bottom: 10px;
}

.header{
    position:relative;
    text-align:center;
    padding-top: 10px;
    color: white;
    font-weight: bold;
}

#header{
    position:relative;
    text-align:center;
    padding-top: 90px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
}


.quote {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

hr{
    width:40%;
}
.thumbnail{
    text-align: center;
    border: 4px ridge sandybrown;
    height: 550px;
    padding: 10px 0px;
    margin: 5px 0px;

}

.thumbnail img{
    height: 350px;
}

.col-lg-4 a{
    padding: 3px 3px;
    margin: 2px 2px;

}
.img{
   width: 100%;
   height: 650px;
   /*border:10px solid black;*/
}

.body{
    border:10px solid black;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
/*.comment{*/
/*    color: white;*/
/*    font-size: 25px;*/
/*    font-weight: bold;*/
/*}*/

#button{
    display: inline;
}
.newform{
    margin: 0 auto; 
    width: 30%;
}

.newform h1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.horizontal-line{
    width:100%;
}

span{
    color:blue;
}
em{
    color:blue;
}


